.window {
    position     : relative;
    min-height   : 100vh;
    margin-bottom: 3rem;

}

.submit-btn {
    color           : #fff;
    background-color: var(--color1);
    font-weight     : 700;
    height          : 55px;
    padding         : 10px 35px;
    font-size       : 18px;
    border          : none;
    display         : block;
    width           : 100%;
    text-transform  : capitalize;
    margin-bottom   : 2rem;
}

li {
    margin: 0 1rem 0 1rem;

}

li a {
    color           : #fff;
    background-color: var(--color1);
    font-weight     : 700;
    font-size       : 18px;
    border          : none;
    display         : block;
    width           : 100%;
    text-transform  : capitalize;
}

.nav-pills .nav-link.active {
    color           : var(--color2);
    background-color: var(--colorWhite);
    border          : var(--color2) 1.5px solid;
}
.nav-link{
    border          : rgba(0, 0, 0, 0) 1.5px solid;

}
a:hover {
    color: var(--color2);
}

.avis {
    border       : 1.5px solid var(--color1);
    padding      : 2rem;
    margin-bottom: 3rem;
    border-radius: .25rem;
}

h4 {
    color: var(--color2);
}

.signature {
    color: var(--color2);
}

.booking-form {
    border   : 1.5px solid var(--color1);
    border-radius: .25rem;
    max-width: 100%;
    margin   : auto;
    padding  : 40px 30px;
}
.tab-content{
    padding: 0;
}
