

.carouselContainer{
    min-height: 100vh;
}

.carousel-caption {
    transform  : translateX(-50%) translateY(-50%);
    top        : 50%;
    left       : 50%;
    height     : 4em;
    line-height: 4em;
}

.carousel-caption h2 {
    padding-bottom: 1vh;
}
.carousel-caption h2 a:hover {
    text-decoration: none;
}
.carousel-caption a{
    color: var(--colorWhite);
}

@media (max-width: 992px) {
    .carousel-caption .chooseButton {
        display: none;
    }

    .carousel-caption h2 {
        font-size: 1.5em;
    }

    .carousel-caption h2 a:hover {
        text-decoration: underline;
    }
    
}