h4{
    margin-bottom: 0.5em;
}
h5{
    max-height: 3em;
    margin-bottom: 0em;
    line-height: 3em;
}

.containerPayment, .containerPresta{
 border: 2px solid var(--color1opacity4);
}
.cartTitle{
    background-color: var(--color1opacity2);
}
.article{
    border-top: 1px solid var(--color1opacity4); 
    padding: 1em 0 0.5em 2em;
}
.articleDetail p{
    padding: 0.3em 0 0.3em 1.5em;
    margin: 0;
}

.containerPresta{
    margin-left: auto;
    height: 100%;
}
.containerPayment{
    margin-right: auto;
}
a {
    color: var(--color2);
}
.linkButton{
    margin-bottom: 1em;
}

input[type=checkbox] {
    margin-top: 0.3em;
    margin-right: 0.5em;
}
.totalPrice{
    font-size: 1.2em;
}
strong{
    color: var(--color2);
}